body{
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.top{
    background-color: #1F2937;
    min-height: auto;
    color: white;
    margin: 0;
    border: 0;
    padding: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 120px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.sub-text, .links{
    display: flex;
    font-size: 18px;
    color: #b4bbc5;
    gap: 30px;
    flex-wrap: wrap;
}


.image{
    background-color: #7f8a99;
    width: 500px;
    height: 250px;
    /* margin: 100px; */
}

a{
    text-decoration: none;
    color: inherit;
}

.next{
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
    margin-bottom: 15px;
    

}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.button{
    display: flex;
    height: auto;
    width: 65px;
    font-weight: bold;
    font-size: 18px;
    background-color: royalblue;
    border-radius: 10px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    margin-left: 0px;
    flex-shrink: 1;
}

.container{
    flex-wrap: wrap;
    max-width: 40%;
}

.information{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info{
    text-align: center;
    height: 350px;
}
.box{
    width: 150px;
    height: 150px;
    border: 3px solid royalblue;
    border-radius: 10px;
}

.title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 40px;
}

.caption{
    margin: 5px;
}

.quote-box{
    height: 350px;
    background-color: #e5e7eb;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
    height: auto;
}

.author{
    margin-left: auto;
    font-weight: bold;
    font-size: 18px;
}

.inclusion{
    display: flex;
    flex-direction: column;
}

.bottom{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callout{
    height: 150px;
    width: 1000px;
    background-color: #3882F6;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

}

.alert{
    font-weight: bold;
    font-size: 22px;
}

.click{
    border: 2px solid white;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
}